<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Platformer 0.1</title>

  <style>
    #canvas-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 800px;
      height: 600px;
      margin: auto;
      right: 0;
      bottom: 0;
    }
    canvas.emscripten {
      width: 800px;
      height: 600px;
      border: 0;
      background-color: white;
    }
  </style>
</head>
<body>

<div id="canvas-container">
  <canvas class="emscripten" id="canvas" tabindex="-1"></canvas>
</div>

<script type="text/javascript">

  function StartGame() {
    console.log("Start Game");
    var canvas = document.getElementById("canvas");
    setCanvasSize(canvas);
    setCanvasContextLostHandler(canvas);
  }

  function setCanvasSize(canvasElement) {
    console.log("setCanvasSize");

    const canvasContainerElement = document.getElementById(
            "canvas-container"
    );

    canvasElement.width = canvasContainerElement.clientWidth;
    canvasElement.height = canvasContainerElement.clientHeight;
  }

  function setCanvasContextLostHandler(canvasElement) {
    console.log("setCanvasContextLostHandler");

    canvasElement.addEventListener("webglcontextlost", (event) => {
      event.preventDefault();
      alert("WebGL context lost. You will need to reload the page.");
    });
  }

  var Module = {
    preRun: [],

    postRun: [],

    print: (function () {
      console.log("function output");

      var element = document.getElementById("output");

      if (element) element.value = ""; // clear browser cache

      return function (text) {
        if (arguments.length > 1)
          text = Array.prototype.slice.call(arguments).join(" ");
        console.log(text);

        if (element) {
          element.value += text + "\n";

          element.scrollTop = element.scrollHeight; // focus on bottom
        }
      };
    })(),

    printErr: function (text) {
      console.log("printErr text");

      if (arguments.length > 1)
        text = Array.prototype.slice.call(arguments).join(" ");

      console.error(text);
    },

    canvas: (function () {
      console.log("function canvas");

      var canvas = document.getElementById("canvas");
      var back = document.getElementById("backId");
      if (back)
        back.remove();

      setCanvasSize(canvas);
      setCanvasContextLostHandler(canvas);
      return canvas;
    })(),

    setStatus: function (text) {
      console.log(text);

      if (!Module.setStatus.last)
        Module.setStatus.last = { time: Date.now(), text: "" };

      if (text === Module.setStatus.last.text) return;

      var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);

      var now = Date.now();

      if (m && now - Module.setStatus.last.time < 30) return; // if this is a progress update, skip it if too soon

      Module.setStatus.last.time = now;

      Module.setStatus.last.text = text;

    },

    totalDependencies: 0,

    monitorRunDependencies: function (left) {
      this.totalDependencies = Math.max(this.totalDependencies, left);

      Module.setStatus(
              left
                      ? "Preparing... (" +
                      (this.totalDependencies - left) +
                      "/" +
                      this.totalDependencies +
                      ")"
                      : "All downloads complete."
      );
    },
  };
  console.log("Module.setStatus");

  Module.setStatus("Downloading...");

  window.onerror = function () {
    Module.setStatus("Exception thrown, see JavaScript console");
  };

</script>
{{{ SCRIPT }}}
</body>
</html>